@font-face {
  font-family: 'Athena Sans'; /* FOT-RodinBokutoh Pro EB */
  src: url('./src/AthenaSans.otf');
}

body {
  --main-bg-color: #C6A2EB;
  --secondary-bg-color: #a782cc;
  --tertiary-bg-color: #F4E4F4;
  --font-color: #9A52E2;
  --hover-color: #FFFFFF;

  margin: 0;
  padding: 0;
  font-family: 'Athena Sans', sans-serif;

  background-color: var(--main-bg-color);
} 

#vert-bar {
  display: inline-block;
  border: thin solid #9a52e248;

  margin: 5px;
  border-radius: 2px;
}

.navbar {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  height: 10vh;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.navlinks {
  display: flex;

  justify-content: center;
  align-items: center;
}

.navlink {
  color: inherit;
  text-decoration: inherit;

  margin: 0px 20px;
}
.navlink:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.socials {
  position: absolute;
  right: 10px;

  display: flex;
}

.link-svg {
  fill: var(--font-color);

  padding: 0px 10px;

  width: 40px;
  height: 40px;
}
.link-svg:hover {
  fill: var(--hover-color);
  cursor: pointer;
}


.main-body {
  position: relative;
  top: 50%;
  transform: translateY(20%);

  display: flex;
  justify-content: center;

  color: var(--font-color)
}

.profile-picture {
  border-radius: 20px;
}
.information {
  margin: 0 3vw;
}
.name-title {
  font-size: 40px;
}
.info-item {
  list-style-type: none;
  
  margin-left: 1.5vw;
  margin-bottom: 0.25vh;
}
